<div class="row">
    <div class="col-md-12">
        <h2>Returned Recipes</h2>
        Title
        Health and Dietary stuff
        This partial will be populated with recipes returned from the search of the 
        Edamam API
    </div>
</div>
