@{
    ViewBag.Title = "HomePage";
}

<div class="container body-content">
    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 visible-lg sidebar">
            @RenderPage("~/Views/Shared/_RecipeBoxPartial.cshtml")
        </div>
        <div class="col-lg-8 main-view">
            @*@RenderPage()*@
        </div>
    </div>
</div>